@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
html {
    background-color: #f8f8f8;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: #ffffff;
    color: #555555;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

.menu {
    display: block;
    width: 150px;
    height: 40px;
    padding: 12px 0 0;
    background: #9dc852;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s background-color;
}

.menu-title:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #9dc852;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

